img{width: 100%;}
#box{
    display: flex;
    flex-direction: column;
    header{
        height: 0.88rem;
        background: linear-gradient(90deg,#0af,#0085ff);
        line-height: 0.88rem;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        display: flex;
        padding: 0 0.2rem;
        justify-content: space-between;
    }
    .main{
        flex: 1;
        background: #eee;
        .none{
            text-align: center;
            margin-top: 2rem;
            img{
                width: 55%;
            }
            p{
                color: #333;
            }
            p:nth-of-type(1){
                font-size: 16px;
                margin: 0.15rem 0 ;
            }
            p:nth-of-type(2){
                font-size: 12px;
                margin: 0.1rem 0 0.15rem;
                color: #888;
            }
        }
    }
}

